.drift-sidebar-single-conversation-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.drift-sidebar-single-conversation-message-text {
    background: rgb(10, 91, 255);
    color: white;
    padding: 8px 12px;
    margin-bottom: 2px;
    border-radius: 10px;
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.drift-sidebar-single-conversation-message-text > p {
    text-align: right;
    margin-top: 0;
    margin-bottom:0;
}
.drift-sidebar-single-conversation-message > span {
    font-size: 0.5rem;
    color: rgba(0,0,0,0.7);
    margin-bottom: 12px;
}