.drift-sidebar-single-conversation-message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.drift-sidebar-single-conversation-message-text {
    background-color: cornflowerblue;
    color: white;
    padding: 8px 12px;
    margin-bottom: 6px;
    border-radius: 8px;
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.drift-sidebar-single-conversation-message-text > p {
    text-align: right;
    margin-top: 0;
    margin-bottom: 6px;
}
.drift-sidebar-single-conversation-message-text > span {
    font-size: 0.5rem;
}

.drift-sidebar-single-conversation-message-timestamp {
    width: 100%;
    font-size: .7rem;
    color: rgba(0,0,0,0.7);
    text-align: center;
    margin-bottom: 12px;
}